language: node_js
node_js:
- '8'
branchs:
  only:
  - master
install:
- npm install
script:
- npm run build
before_install:
- openssl aes-256-cbc -K $encrypted_f3407dc12152_key -iv $encrypted_f3407dc12152_iv
  -in id_rsa.enc -out ~/.ssh/id_rsa -d
after_success:
- chmod 600 ~/.ssh/id_rsa
- ssh sundogrd@sundogrd.com -o StrictHostKeyChecking=no 'cd ~/lwio && git pull && npm install && npm run build && rm -rf /usr/share/nginx/lwio && mv ./dist /usr/share/nginx/lwio'
